*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app{
    font-family: "Greta Sans Condensed Bold","Greta Sans Bold",Arial,sans-serif;
}

.d-flex{
    display:flex

}

.container{
    width: 70%;
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.col-2{
    width: calc(100% / 6);
}